
<body class="text-center">

	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

		<main role="main" class="inner cover">
			<img id="soma" class="cover-heading" src="SOMAfractal.png" alt="Soma Logo">

			<div class="container-2">
				<div id="carousel">
					<figure class="btn fig_btn" id="CardiB_btn"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Cardi_B_-_Invasion_of_Privacy.png/220px-Cardi_B_-_Invasion_of_Privacy.png"
						 alt=""></figure>
					<figure class="btn fig_btn" id="ArianaGrande_btn"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/7/7a/Sweetener_album_cover.png"
						 alt=""></figure>
					<figure class="btn fig_btn" id="Avicii_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/e/e5/Avicii_-_True_%28Album%29.png"
						 alt=""></figure>
					<figure class="btn fig_btn" id="ImagineDragons_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/b/b5/ImagineDragonsEvolve.jpg"
						 alt=""></figure>
					<figure class="btn fig_btn" id="SZA_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/b/bf/SZA_-_Ctrl_cover.png"
						 alt=""></figure>
					<figure class="btn fig_btn" id="MGMT_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/7/7f/MGMT_little_dark_age.jpg"
						 alt=""></figure>
					<figure class="btn fig_btn" id="MJ_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/5/55/Michael_Jackson_-_Thriller.png"
						 alt=""></figure>
					<figure class="btn fig_btn" id="LedZeppelin_button"><img class="custom-style" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/Led_Zeppelin_-_Led_Zeppelin_II.jpg/220px-Led_Zeppelin_-_Led_Zeppelin_II.jpg"
						 alt=""></figure>
					<figure class="btn fig_btn" id="MilesDavis_button"><img class="custom-style" src="https://i.pinimg.com/236x/19/c0/d9/19c0d92796c35d8d4700c5f8b4541ecd--music-albums-cover-art.jpg"
						 alt=""></figure>
				</div>
			</div>
			<div class="container h-100">
				<div class="d-flex justify-content-center h-100">
					<div class="searchbar">
						<input class="search_input" type="text" name="" placeholder="Search...">
						<a href="#" class="search_icon"><i class="fas fa-search"></i></a>
					</div>
				</div>
			</div>

			<a href="/create" class="btn btn-lg btn-secondary">CREATE</a>
			<a href="/login" class="btn btn-lg btn-secondary">LOGIN</a>
		</main>

		<footer class="mastfoot mt-auto">
			<div class="inner">

			</div>
		</footer>
	</div>
	
</body>

