<body>

    <nav class="navbar navbar-expand-lg navbar-black bg-black" id="navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="navbar-brand" href="index.html"><img src="SOMAfractal.png" width="75" height="75" class="d-inline-block align-top mr-3"
                        alt=""></a>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </form>
            <ul class="nav pull-right">

                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <!-- <a href="#" class="btn btn-lg btn-secondary">LOGIN</a> -->
                    <button type="button" class="btn btn-secondary btn-lg" id="myBtn">Login</button>

                </li>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card" style="width: 20rem;">
                    <img src="https://www.overthinkingit.com/wp-content/uploads/2010/04/T-party-carousel.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mr.T</h5>
                        <p class="card-text" id="band-card-info">
                            <b>Favorite Genre:</b> Rock<br>
                        </p>
                    </div>
                </div>
               
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://www.electricferret.com/static/images/cbub/cbub_contender_image/8/2745/thumb_11582.png"
                                alt="Avatar" height="100px" width="100px">
                            <div class="media-body">
                                <h5 class="mt-0 font-weight-bold blue-text">Mr.T</h5>
                                I pity the fool that hasn't watched QOTSA live.
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">&copy; 2018 Soma </span>
        </div>
    </footer>

</body>